@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
}

.nav-container {
    background-color: #F9A826;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    height: 70px;
    width: 100%;
    align-items: center;
    position: fixed;
}

.logo {
    font-weight: bold;
    font-family: 'Roboto';
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid black;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-align: center;
    background-color: #00FFFF;
}

.hero>img {
    width: 40%;
    height: 40%;
}

a {
    text-decoration: none;
    color: black;
}

.welcome {
    width: 50%;
}

.nav-list>li {
    margin-left: 15px;
}